/*<meta />*/

body
{
	mc-hyphenate: never;
	color: #454545;
	font-size: 10pt;
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, San-Serif;
	margin-top: 10px;
	margin-bottom: 25px;
}

h2
{
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0.15em;
	font-style: normal;
	font-size: 14pt;
	mc-hyphenate: never;
	mc-heading-level: 2;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	font-weight: normal;
	padding-bottom: 3pt;
	margin-top: 1.75em;
	border-bottom-color: #6c8ab5;
	color: #454545;
	font-family: Arial, Helvetica, San-Serif;
}

h3
{
	font-style: normal;
	margin-bottom: 0.15em;
	margin-right: 0px;
	margin-left: 0px;
	mc-heading-level: 3;
	mc-hyphenate: never;
	margin-top: 1.75em;
	color: #454545;
	font-size: 12pt;
	font-weight: bold;
	font-family: Arial, Helvetica, San-Serif;
}

h3.Argument,
h3.Keyword,
h3.Property,
h3.Sysvar
{
	margin-left: 0in;
}

h4
{
	font-style: normal;
	font-weight: bolder;
	mc-heading-level: 0;
	mc-hyphenate: never;
	margin-bottom: 0.15em;
	color: #454545;
	font-size: 10pt;
	font-family: Arial, Helvetica, San-Serif;
}

h5
{
	font-size: 10.0pt;
	font-weight: bolder;
	mc-heading-level: 0;
	mc-hyphenate: never;
	color: #696969;
	margin-bottom: 0.15em;
	margin-top: 1.12em;
	font-family: Arial, Helvetica, San-Serif;
}

p
{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 6pt;
	margin-bottom: 6pt;
	display: block;
	mc-hyphenate: never;
}

p.Syntax
{
	letter-spacing: 0;
}

p.Tip
{
	font-size: 9pt;
	mc-auto-number-format: '{b}Tip: {/b}';
}

p.TipIndent
{
	margin-left: 40px;
	margin-bottom: 12pt;
	font-size: 9pt;
	mc-auto-number-format: '{b}Tip: {/b}';
}

p.Note
{
	font-size: 9pt;
	mc-auto-number-format: '{b}Note: {/b}';
}

p.NoteIndent
{
	margin-left: 40px;
	margin-bottom: 12pt;
	font-size: 9pt;
	mc-auto-number-format: '{b}Note: {/b}';
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	text-decoration: underline;
	background-color: #ffffff;
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #1f5b42;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: normal;
	font-weight: bold;
	color: #454545;
}

h1
{
	font-style: normal;
	margin-right: 0px;
	margin-left: 0px;
	mc-heading-level: 1;
	font-size: 16pt;
	mc-hyphenate: never;
	margin: 0px;
	color: #333333;
	font-weight: normal;
	border-bottom-style: solid;
	margin-bottom: 0.15em;
	border-bottom-width: 1pt;
	padding-bottom: 3pt;
	margin-top: 1.75em;
	font-family: Arial, Helvetica, San-Serif;
	border-bottom-color: #333333;
}

a:link
{
	color: #009ddb;
	text-decoration: none;
}

li
{
	margin-bottom: 6pt;
	margin-top: 6pt;
	display: list-item;
}

li.Indent
{
	margin-left: 20px;
}

ul
{
	list-style-type: square;
}

ol
{
	list-style-type: decimal;
}

MadCap|xref
{
	text-decoration: none;
	mc-format: '{para}';
	color: #009ddb;
}

hr
{
	border-top-width: 0pt;
	border-right-width: 0pt;
	border-left-width: 0pt;
	border-top-style: none;
	height: 1px;
	margin-left: 0px;
	border-width: 0px;
	width: 25%;
	position: absolute;
	bottom: 20px;
}

a
{
	text-decoration: none;
	color: #009ddb;
}

a.Popup:focus
{
	text-decoration: none;
}

a.Popup:hover
{
	text-decoration: none;
}

a.Popup:link
{
	text-decoration: none;
}

a.Popup:visited
{
	text-decoration: none;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: ' ';
	margin-bottom: 0px;
	font-size: 8pt;
	margin-top: 0px;
	border-bottom: solid 0pt;
	padding-bottom: 3pt;
}

dl
{
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
}

dd
{
	font-size: 10pt;
}

dt
{
	font-size: 10pt;
}

@media print
{
	p
	{
		display: block;
		widows: 5;
		orphans: 3;
	}

	body
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Times New Roman';
	}

	li
	{
		color: #000000;
	}

	ol
	{
		
	}

	ul
	{
		list-style-type: disc;
	}

	a
	{
		color: #000000;
	}

	MadCap|glossaryTerm
	{
		color: #000000;
		font-weight: normal;
		font-family: serif;
	}

	h1
	{
		font-size: 20pt;
		mc-heading-level: 2;
		border-bottom-style: none;
		color: #000000;
	}

	h2
	{
		font-size: 16pt;
		color: #000000;
		mc-heading-level: 0;
		border-bottom-style: none;
		font-weight: normal;
	}

	h3
	{
		color: #000000;
		font-size: 13pt;
		mc-heading-level: 0;
		font-weight: normal;
	}

	h4
	{
		color: #000000;
		font-size: 11pt;
		font-weight: bolder;
	}

	MadCap|pageFooter
	{
		font-size: 9pt;
		margin-top: 3pt;
		font-family: sans-serif;
		color: #000000;
	}

	MadCap|pageHeader
	{
		margin-bottom: 3pt;
		font-family: sans-serif;
		font-size: 9pt;
		color: #000000;
	}

	p.TOC1
	{
		font-family: sans-serif;
		mc-leader-align: right;
		margin-bottom: 2pt;
		margin-top: 4pt;
		font-size: 11pt;
		mc-leader-offset: 10pt;
		color: #000000;
	}

	p.TOC2
	{
		font-family: sans-serif;
		font-size: 10pt;
		margin-bottom: 0pt;
		margin-top: 0pt;
		mc-leader-offset: 10px;
		margin-left: 20px;
		color: #000000;
	}

	p.TOC3
	{
		font-size: 10pt;
		font-family: sans-serif;
		margin-bottom: 0pt;
		margin-top: 0pt;
		mc-leader-offset: 10px;
		margin-left: 40px;
		color: #000000;
	}

	p.TOC9
	{
		font-size: 10pt;
		font-family: sans-serif;
		margin-bottom: 0pt;
		margin-top: 0pt;
	}

	p.TOC8
	{
		font-size: 10pt;
		font-family: sans-serif;
		margin-bottom: 0pt;
		margin-top: 0pt;
	}

	p.TOC7
	{
		font-size: 10pt;
		font-family: sans-serif;
		margin-top: 0pt;
	}

	p.TOC6
	{
		font-size: 10pt;
		font-family: sans-serif;
		margin-bottom: 0pt;
	}

	p.TOC5
	{
		font-size: 10pt;
		font-family: sans-serif;
		margin-left: 0pt;
		margin-bottom: 0pt;
		margin-top: 0pt;
	}

	p.TOC4
	{
		font-size: 10pt;
		font-family: sans-serif;
		margin-left: 1in;
		margin-top: 0pt;
		margin-bottom: 0pt;
	}

	h5
	{
		color: #000000;
	}

	h6
	{
		font-family: sans-serif;
	}

	hr
	{
		
	}

	th
	{
		font-weight: bold;
		font-size: 10pt;
		font-family: Arial, Helvetica, San-Serif;
	}

	td
	{
		
	}

	MadCap|tocProxy
	{
		mc-leader-align: right;
		mc-leader-offset: 0px;
		mc-printer-page-footer-margin: 0.25in;
		mc-printer-page-header-margin: 0.25in;
		mc-printer-page-margin-bottom: 0.5in;
		mc-printer-page-margin-left: 0.5in;
		mc-printer-page-margin-right: 0.5in;
		mc-printer-page-margin-top: 0.75in;
		border-top-width: 0px;
	}

	MadCap|bodyProxy
	{
		mc-printer-page-footer-margin: 0.25in;
		mc-printer-page-header-margin: 0.25in;
		mc-printer-page-margin-bottom: 0.5in;
		mc-printer-page-margin-left: 0.5in;
		mc-printer-page-margin-right: 0.5in;
		mc-printer-page-margin-top: 0.75in;
		padding-bottom: 12pt;
	}

	MadCap|glossaryProxy
	{
		mc-printer-page-footer-margin: 0.25in;
		mc-printer-page-header-margin: 0.25in;
		mc-printer-page-margin-bottom: 0.5in;
		mc-printer-page-margin-left: 0.5in;
		mc-printer-page-margin-right: 0.5in;
		mc-printer-page-margin-top: 0.75in;
	}

	p.IndexHeading
	{
		font-family: sans-serif;
		text-align: left;
		margin-bottom: 3pt;
	}

	p.Index1
	{
		font-size: 10pt;
		font-family: sans-serif;
		mc-leader-align: right;
		mc-leader-offset: 0;
		mc-leader-format: 'dot';
	}

	p.Index2
	{
		font-size: 10pt;
		font-family: sans-serif;
		mc-leader-align: right;
		mc-leader-offset: 0;
		mc-leader-format: 'dot';
	}

	p.Index5
	{
		font-size: 10pt;
		font-family: sans-serif;
	}

	p.Index6
	{
		font-size: 10pt;
		font-family: sans-serif;
	}

	p.Index3
	{
		font-family: sans-serif;
		font-size: 10pt;
		mc-leader-align: right;
		mc-leader-offset: 0;
	}

	p.Index4
	{
		font-family: sans-serif;
		font-size: 10pt;
	}

	p.Index7
	{
		font-family: sans-serif;
		font-size: 10pt;
	}

	p.Index8
	{
		font-family: sans-serif;
		font-size: 10pt;
	}

	p.Index9
	{
		font-family: sans-serif;
		font-size: 10pt;
	}

	a.GlossaryPageTerm
	{
		margin-top: 6pt;
		font-weight: bold;
		font-family: sans-serif;
		font-size: 10pt;
	}

	div.GlossaryPageTerm
	{
		font-size: 10pt;
		font-family: sans-serif;
		margin-top: 6pt;
	}

	div.GlossaryPageDefinition
	{
		font-size: 11pt;
		font-family: serif;
		margin-bottom: 6pt;
		orphans: 5;
		widows: 5;
	}

	p.headerfooter
	{
		margin-top: 0pt;
		margin-bottom: 0pt;
		text-align: left;
		font-size: 9pt;
		font-family: Arial, Helvetica, San-Serif;
		color: #000000;
	}

	MadCap|xref
	{
		mc-format: '{quote}{para}{quote} on page {page}';
		color: #000000;
		font-family: serif;
	}

	p.indent
	{
		margin-left: 40px;
		margin-bottom: 6pt;
	}

	caption
	{
		font-family: sans-serif;
		mc-auto-number-format: 'CH:Table { }{ }{n+}{ }: ';
	}

	p.FigureCaption
	{
		font-family: sans-serif;
		font-size: 10pt;
		mc-auto-number-format: 'CH:Figure { }{ }{ }{n+}: ';
	}

	MadCap|popupBody
	{
		
	}

	MadCap|popup
	{
		
	}

	MadCap|breadcrumbsProxy
	{
		
	}

	MadCap|conditionalText
	{
		font-family: serif;
	}

	MadCap|miniTocProxy
	{
		mc-leader-align: left;
	}

	p.MiniTOC1
	{
		font-family: sans-serif;
		mc-leader-format: 'dot';
		font-size: 10pt;
		mc-leader-offset: 10px;
		mc-leader-align: right;
		color: #000000;
	}

	table
	{
		
	}

	MadCap|dropDownHead
	{
		color: #000000;
		font-size: 11pt;
		page-break-after: avoid;
	}

	p.MiniTOC2
	{
		margin-bottom: 0pt;
		margin-top: 0pt;
	}

	img
	{
		max-width: 6in;
	}

	pre
	{
		max-width: 650px;
		font-size: 9pt;
	}

	a:hover
	{
		color: #000000;
	}

	a:link
	{
		color: #000000;
	}

	a:visited
	{
		color: #000000;
	}

	MadCap|xref:focus
	{
		color: #000000;
	}

	MadCap|xref:hover
	{
		color: #000000;
	}

	MadCap|dropDownHotspot
	{
		color: #000000;
	}

	p.TableHead
	{
		font-family: sans-serif;
	}

	code
	{
		
	}

	MadCap|helpControlMenu
	{
		
	}

	p.Code
	{
		
	}

	p.Code_Indented
	{
		font-size: 10pt;
	}

	MadCap|dropDown
	{
		mc-closed-image: none;
		mc-open-image: none;
	}

	MadCap|expanding
	{
		mc-closed-image: none;
		mc-open-image: none;
	}

	MadCap|relationshipsHeading.task
	{
		
	}

	MadCap|relationshipsHeading
	{
		
	}
}

MadCap|glossaryTerm
{
	mc-image-spacing: 2px;
	color: #51626f;
}

a:hover
{
	text-decoration: underline;
}

p.Copyright
{
	margin-bottom: 3pt;
	margin-top: 3pt;
	text-align: left;
	font-size: 8pt;
}

p.TOC1
{
	mc-leader-offset: 0pt;
	margin-top: 2pt;
	margin-bottom: 2pt;
	color: #009ddb;
}

p.TOC2
{
	mc-leader-offset: 0pt;
	margin-bottom: 2pt;
	margin-top: 2pt;
	margin-left: 20px;
	color: #009ddb;
}

p.TOC3
{
	mc-leader-offset: 0pt;
	margin-left: 40pt;
	color: #009ddb;
}

p.TOC4
{
	mc-leader-offset: 0pt;
}

h6
{
	margin: 0pt;
	font-weight: bolder;
	mc-heading-level: 0;
	mc-hyphenate: never;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
	font-size: 10pt;
	margin-bottom: 2pt;
	margin-top: 6pt;
	font-family: Arial, Helvetica, San-Serif;
}

td
{
	text-align: left;
	vertical-align: top;
}

th
{
	font-weight: bold;
	vertical-align: middle;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

h6.NewPage
{
	page-break-before: always;
}

p.IndexHeading
{
	margin-bottom: 6pt;
	margin-top: 6pt;
}

p.Index1
{
	margin-top: 3pt;
	margin-bottom: 0pt;
	color: #009ddb;
}

p.Index2
{
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin: 0;
	margin-left: 15px;
	color: #009ddb;
}

p.Index3
{
	margin-bottom: 3pt;
	margin-top: 3pt;
	color: #009ddb;
}

p.Index4
{
	margin-bottom: 3pt;
	margin-top: 3pt;
}

p.Index5
{
	margin-bottom: 3pt;
	margin-top: 3pt;
}

p.Index6
{
	margin-bottom: 3pt;
	margin-top: 3pt;
}

p.Index7
{
	margin-bottom: 3pt;
	margin-top: 3pt;
}

p.Index8
{
	margin-bottom: 3pt;
	margin-top: 3pt;
}

p.Index9
{
	margin-bottom: 3pt;
	margin-top: 3pt;
}

p.headerfooter
{
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0pt;
	color: #8e908f;
	font-size: 7pt;
	margin-top: 20px;
}

p.indent
{
	font-style: normal;
	font-weight: normal;
	margin-left: 40px;
}

p.TipIndent
{
	margin-left: 40px;
	margin-bottom: 12pt;
	font-size: 9pt;
	mc-auto-number-format: '{b}Tip: {/b}';
}

caption
{
	font-style: italic;
	margin-top: 6pt;
	margin-bottom: 18pt;
}

p.FigureCaption
{
	font-style: italic;
	margin-bottom: 12pt;
}

img.VertCenter
{
	vertical-align: middle;
}

pre
{
	mc-hyphenate: never;
	margin-top: 0em;
	margin-bottom: 0em;
	margin: 0;
	font-family: 'Courier New', Courier, Monospace;
}

div.GlossaryPageDefinition
{
	font-size: 10pt;
}

MadCap|relatedTopics
{
	font-weight: bold;
	margin-top: 6px;
	padding-top: 6px;
	color: #009ddb;
}

MadCap|popupBody
{
	background-color: #ffffff;
	font-size: 10pt;
	color: #454545;
}

div.GlossaryPageTerm
{
	font-size: 10pt;
}

div.GlossaryPageHeading
{
	font-size: 11pt;
}

div.GlossaryPageEntry
{
	font-size: 10pt;
}

MadCap|dropDownBody
{
	text-decoration: none;
}

MadCap|helpControlMenu
{
	background-color: #ffffff;
	color: #000000;
}

MadCap|helpControlMenuItem.Highlighted
{
	color: #000000;
	background-color: #ffe4b5;
}

MadCap|helpControlMenuItem
{
	font-size: 9pt;
}

MadCap|bodyProxy
{
	
}

MadCap|xref:focus
{
	color: #009ddb;
}

MadCap|xref:hover
{
	color: #009ddb;
	text-decoration: underline;
}

menu
{
	
}

MadCap|glossaryTerm.Popup
{
	mc-popup-width: 500px;
}

MadCap|popup
{
	background-color: #ffffff;
}

pre.indent
{
	margin-left: 40px;
}

MadCap|conditionalText
{
	
}

p.indent2
{
	margin-left: 60px;
}

MadCap|miniTocProxy
{
	border-top-width: 0px;
	margin-top: 6pt;
	padding-top: 0px;
}

MadCap|tocProxy
{
	border-top-width: 0px;
}

MadCap|listOfProxy
{
	border-top-width: 0px;
}

MadCap|indexProxy
{
	border-top-width: 0px;
}

p.MiniTOC1
{
	font-weight: normal;
	margin: 0px;
	mc-leader-format: 'dot';
	mc-leader-offset: 10pt;
	mc-leader-align: right;
	color: #009ddb;
}

MadCap|glossaryProxy
{
	border-top-width: 0px;
}

div
{
	
}

table
{
	
}

MadCap|dropDownHead
{
	margin-top: 16px;
	font-size: 11pt;
	font-weight: bold;
	font-family: Arial, Helvetica, San-Serif;
}

@media non-print
{
	h2
	{
		mc-heading-level: 2;
	}

	p.TOC3
	{
		
	}

	img
	{
		
	}

	MadCap|miniTocProxy
	{
		margin-top: 0px;
		padding-top: 3px;
	}

	p.MiniTOC1
	{
		margin-bottom: 3pt;
	}

	MadCap|breadcrumbsProxy
	{
		mc-breadcrumbs-prefix: ' ';
		margin-bottom: 16px;
		margin-top: 0px;
		border-bottom: none 0px;
	}

	body
	{
		
	}

	MadCap|popup
	{
		background-color: #ffffff;
	}

	MadCap|dropDownHead
	{
		
	}

	p.MiniTOC2
	{
		margin-bottom: 3pt;
	}

	p.headerfooter
	{
		margin-top: 12pt;
		border-top-width: 1pt;
		border-top-color: #6c8ab5;
	}

	MadCap|topicToolbarProxy
	{
		padding-bottom: 0px;
		padding-top: 2px;
		margin-top: 2px;
	}

	MadCap|helpControlMenu
	{
		
	}

	p.Copyright
	{
		margin-top: 0pt;
		font-size: 10pt;
		margin-bottom: 6pt;
	}

	a:visited
	{
		
	}

	a:link
	{
		
	}

	h3
	{
		
	}

	MadCap|relationshipsHeading.concept
	{
		
	}

	MadCap|relationshipsHeading
	{
		
	}

	MadCap|relationshipsHeading.task
	{
		
	}

	MadCap|helpControlMenuItem
	{
		
	}

	img.ImgFloatRight
	{
		
	}

	img.imgThumbnail
	{
		
	}
}

p.MiniTOC2
{
	margin-bottom: 0pt;
	margin-top: 0pt;
	font-weight: normal;
	color: #009ddb;
}

MadCap|topicToolbarProxy
{
	padding-bottom: 3pt;
	padding-top: 3pt;
}

a:visited
{
	color: #009ddb;
	text-decoration: none;
}

MadCap|dropDown
{
	text-decoration: none;
}

MadCap|dropDownHead.dropDownHead2
{
	font-size: 10pt;
}

MadCap|relatedTopics:hover
{
	color: #009ddb;
}

html
{
	background-color: #ffffff;
}

MadCap|footnote
{
	font-size: 8pt;
}

MadCap|footnoteBlock
{
	font-size: 8pt;
}

p.TableHead
{
	font-weight: bold;
}

a.GlossaryPageTerm:link
{
	color: #009ddb;
}

a.GlossaryPageTerm:visited
{
	color: #009ddb;
}

MadCap|keywordLink
{
	color: #009ddb;
}

MadCap|popupHead
{
	color: #009ddb;
}

p.MiniTOC3
{
	color: #009ddb;
}

h2.API
{
	border-bottom-style: none;
}

span.SearchHighlight1
{
	background-color: #ffff00;
	font-weight: normal;
}

span.SearchHighlight2
{
	background-color: #ffff00;
	font-weight: normal;
}

span.SearchHighlight3
{
	background-color: #ffff00;
	font-weight: normal;
}

span.SearchHighlight4
{
	background-color: #ffff00;
	font-weight: normal;
}

span.SearchHighlight5
{
	font-weight: normal;
	background-color: #ffffff;
}

span.SearchHighlight6
{
	font-weight: normal;
	background-color: #ffffff;
}

span.SearchHighlight7
{
	font-weight: normal;
	background-color: #ffffff;
}

span.SearchHighlight8
{
	font-weight: normal;
	background-color: #ffffff;
}

span.SearchHighlight9
{
	font-weight: normal;
	background-color: #ffffff;
}

span.SearchHighlight10
{
	font-weight: normal;
	background-color: #ffffff;
}

p.Code
{
	margin-bottom: 0pt;
	margin-top: 0pt;
	margin-left: 20px;
	font-family: 'Courier New', Courier, Monospace;
}

p.Code_Indented
{
	margin-bottom: 0pt;
	margin-top: 0pt;
	margin-left: 40px;
	font-family: 'Courier New', Courier, Monospace;
}

html.home
{
	mc-master-page: url('../MasterPages/Home.flmsp');
	background-color: #ffffff;
	max-width: 842px;
}

a.GlossaryPageTerm:hover
{
	text-decoration: underline;
}

MadCap|conceptLink
{
	color: #009ddb;
}

MadCap|conceptLink:hover
{
	text-decoration: underline;
}

MadCap|keywordLink:hover
{
	text-decoration: underline;
}

MadCap|expanding
{
	
}

MadCap|relationshipsHeading
{
	font-style: normal;
	color: #454545;
	font-size: 12pt;
}

MadCap|relationshipsItem
{
	font-size: 10pt;
	margin-left: 20pt;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

MadCap|relationshipsProxy
{
	margin-top: 12pt;
	border-top-color: #999999;
	border-top-width: 1pt;
	border-top-style: dotted;
}

MadCap|relationshipsHeading.concept
{
	font-size: 12pt;
}

MadCap|relationshipsHeading.task
{
	font-size: 12pt;
}

MadCap|relationshipsHeading.reference
{
	font-size: 12pt;
}

div.Graphic
{
	float: left;
	position: absolute;
	width: 375px;
	left: 300px;
	top: 40px;
}

thead
{
	
}

h1.ObjMethod
{
	
}

h1.ObjClass
{
	
}

h1.ObjProperties
{
	
}

div.Text
{
	float: none;
	position: absolute;
	border-bottom: solid 1px #009ddb;
	border-top: solid 1px #009ddb;
	padding-bottom: 6px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 12px;
	top: 50px;
	width: 275px;
}

code
{
	font-family: 'Courier New', Courier, Monospace;
}

p.Tip
{
	font-size: 9pt;
	mc-auto-number-format: '{b}Tip: {/b}';
}

h4.SysvarField
{
	font-style: normal;
	font-weight: bolder;
	mc-heading-level: 0;
	mc-hyphenate: never;
	margin-bottom: 0.15em;
	margin-bottom: 3pt;
}

p.Note
{
	
}

p.NoteIndent
{
	
}

div.mp_footer
{
	color: #8e908f;
	font-size: 7pt;
	background-color: #ffffff;
	bottom: 0px;
	position: fixed;
	width: 3000px;
	padding-bottom: 2pt;
	padding-top: 6pt;
}

h1.RoutineClassObject
{
	
}

h1.ClassObject
{
	
}

p.HighlightText
{
	background-color: #fffacd;
	padding: 3px;
}

h1.Routine
{
	
}

p.Hidden
{
	display: none;
}

p.RedText
{
	color: #ff0000;
}

h2
{
	mc-heading-level: 2;
}

p.TOC3
{
	
}

img
{
	
}

MadCap|miniTocProxy
{
	margin-top: 0px;
	padding-top: 3px;
}

p.MiniTOC1
{
	margin-bottom: 3pt;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: ' ';
	margin-bottom: 16px;
	margin-top: 0px;
	border-bottom: none 0px;
}

body
{
	
}

MadCap|popup
{
	background-color: #ffffff;
}

MadCap|dropDownHead
{
	
}

p.MiniTOC2
{
	margin-bottom: 3pt;
}

p.headerfooter
{
	margin-top: 12pt;
	border-top-width: 1pt;
	border-top-color: #6c8ab5;
}

MadCap|topicToolbarProxy
{
	padding-bottom: 0px;
	padding-top: 2px;
	margin-top: 2px;
}

MadCap|helpControlMenu
{
	
}

p.Copyright
{
	margin-top: 0pt;
	font-size: 10pt;
	margin-bottom: 6pt;
}

a:visited
{
	
}

a:link
{
	
}

h3
{
	
}

MadCap|relationshipsHeading.concept
{
	
}

MadCap|relationshipsHeading
{
	
}

MadCap|relationshipsHeading.task
{
	
}

MadCap|helpControlMenuItem
{
	
}

img.ImgFloatRight
{
	
}

img.imgThumbnail
{
	
}

