/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: Keyword_Table;
	border-collapse: collapse;
	border-top-style: solid;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	margin-left: 0px;
	margin-bottom: 18px;
	margin-top: 8px;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-bottom-color: #d8dadb;
	max-id: 4;
	border-top-color: #d8dadb;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #d8dadb;
	vertical-align: middle;
	text-align: center;
	background-color: #ffffff;
	font-weight: bold;
	font-style: normal;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	vertical-align: middle;
	text-align: left;
	background-color: #e9eaeb;
	font-style: normal;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	vertical-align: middle;
	text-align: left;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	vertical-align: top;
	text-align: left;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Keyword_Table
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #d8dadb;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #d8dadb;
	border-bottom-width: 2px;
	margin-left: 0px;
	margin-top: 8px;
	margin-bottom: 18px;
	border-spacing: 0px 0px;
}

.TableStyle-Keyword_Table .Column-Column1
{
	
}

.TableStyle-Keyword_Table .Head-Header1
{
	
}

.TableStyle-Keyword_Table .HeadI-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Keyword_Table .HeadI-Column1-Header1 p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Keyword_Table .HeadE-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-color: #d8dadb;
	border-bottom-style: solid;
}

.TableStyle-Keyword_Table .HeadE-Column1-Header1 p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Keyword_Table .HeadF-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-color: #d8dadb;
	border-bottom-style: solid;
}

.TableStyle-Keyword_Table .HeadF-Column1-Header1 p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Keyword_Table .HeadH-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Keyword_Table .HeadH-Column1-Header1 p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Keyword_Table .HeadD-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-color: #d8dadb;
	border-bottom-style: solid;
}

.TableStyle-Keyword_Table .HeadD-Column1-Header1 p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Keyword_Table .HeadC-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Keyword_Table .HeadC-Column1-Header1 p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Keyword_Table .HeadB-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Keyword_Table .HeadB-Column1-Header1 p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Keyword_Table .HeadA-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Keyword_Table .HeadA-Column1-Header1 p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Keyword_Table .HeadG-Column1-Header1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Keyword_Table .HeadG-Column1-Header1 p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Keyword_Table .Foot-Footer1
{
	
}

.TableStyle-Keyword_Table .FootI-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Keyword_Table .FootI-Column1-Footer1 p
{
	
}

.TableStyle-Keyword_Table .FootE-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Keyword_Table .FootE-Column1-Footer1 p
{
	
}

.TableStyle-Keyword_Table .FootF-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Keyword_Table .FootF-Column1-Footer1 p
{
	
}

.TableStyle-Keyword_Table .FootH-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Keyword_Table .FootH-Column1-Footer1 p
{
	
}

.TableStyle-Keyword_Table .FootD-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Keyword_Table .FootD-Column1-Footer1 p
{
	
}

.TableStyle-Keyword_Table .FootC-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Keyword_Table .FootC-Column1-Footer1 p
{
	
}

.TableStyle-Keyword_Table .FootB-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Keyword_Table .FootB-Column1-Footer1 p
{
	
}

.TableStyle-Keyword_Table .FootA-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Keyword_Table .FootA-Column1-Footer1 p
{
	
}

.TableStyle-Keyword_Table .FootG-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Keyword_Table .FootG-Column1-Footer1 p
{
	
}

.TableStyle-Keyword_Table .Body-Body1
{
	
}

.TableStyle-Keyword_Table .BodyI-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #e9eaeb;
}

.TableStyle-Keyword_Table .BodyI-Column1-Body1 p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Keyword_Table .BodyE-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #e9eaeb;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Keyword_Table .BodyE-Column1-Body1 p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Keyword_Table .BodyF-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #e9eaeb;
}

.TableStyle-Keyword_Table .BodyF-Column1-Body1 p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Keyword_Table .BodyH-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #e9eaeb;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Keyword_Table .BodyH-Column1-Body1 p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Keyword_Table .BodyD-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #e9eaeb;
}

.TableStyle-Keyword_Table .BodyD-Column1-Body1 p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Keyword_Table .BodyC-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #e9eaeb;
}

.TableStyle-Keyword_Table .BodyC-Column1-Body1 p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Keyword_Table .BodyB-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #e9eaeb;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Keyword_Table .BodyB-Column1-Body1 p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Keyword_Table .BodyA-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #e9eaeb;
}

.TableStyle-Keyword_Table .BodyA-Column1-Body1 p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Keyword_Table .BodyG-Column1-Body1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #e9eaeb;
}

.TableStyle-Keyword_Table .BodyG-Column1-Body1 p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Keyword_Table .Body-Body2
{
	
}

.TableStyle-Keyword_Table .BodyI-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Keyword_Table .BodyI-Column1-Body2 p
{
	
}

.TableStyle-Keyword_Table .BodyE-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Keyword_Table .BodyE-Column1-Body2 p
{
	
}

.TableStyle-Keyword_Table .BodyF-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Keyword_Table .BodyF-Column1-Body2 p
{
	
}

.TableStyle-Keyword_Table .BodyH-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Keyword_Table .BodyH-Column1-Body2 p
{
	
}

.TableStyle-Keyword_Table .BodyD-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Keyword_Table .BodyD-Column1-Body2 p
{
	
}

.TableStyle-Keyword_Table .BodyC-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Keyword_Table .BodyC-Column1-Body2 p
{
	
}

.TableStyle-Keyword_Table .BodyB-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Keyword_Table .BodyB-Column1-Body2 p
{
	
}

.TableStyle-Keyword_Table .BodyA-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Keyword_Table .BodyA-Column1-Body2 p
{
	
}

.TableStyle-Keyword_Table .BodyG-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Keyword_Table .BodyG-Column1-Body2 p
{
	
}


